.title {
  margin: 2rem;
  text-align: center;
}


.board {
  height: 450px;
  width: 450px;
  margin: 50px auto 30px auto;
  overflow: hidden;
  position: relative;
}

.cell {
  background: white;
  cursor: pointer;
  color: black;
  height: 140px;
  font-size: 64px;
  float: left;
  width: 140px;
  z-index: 1;
  border: solid 1px black;
  text-align: center;
}

.cell:hover {
  background-color: gray;
}